{
  "extends": "@alexbainter/eslint-config/react",
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "react/prop-types": [2, { "ignore": ["data-cy"] }]
  },
  "overrides": [
    {
      "files": "**/*.spec.js",
      "env": {
        "mocha": true
      },
      "globals": {
        "expect": "readonly"
      }
    }
  ]
}
